body {
    padding-top: 56px !important;
    background-color: #EEEDE8;
}

.anchor {
    padding-top: 60px;
    margin-top: -60px !important;
}

.clickable {
    cursor: pointer;
}


/* file upload */

.file-upload input[type='file'] {
    display: none;
}


/* toasts */

.toast {
    position: fixed;
    top: 56px;
    right: 0;
    z-index: 10000;
}


/* preloader */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*background: #DDDCD6;*/
    z-index: 10000;
}


/* navbar */

.navbar-brand-sm:hover {
    color: #715142;
    text-decoration: none;
}

a.dropdown-item:active {
    background-color: #715142;
    color: white !important;
}


/* header */

.intro {
    background-size: cover;
}

img.img-large-logo {
    max-width: 100% !important;
    max-height: 100% !important;
}


/* back to top button */

#back-to-top-button {
    display: inline-block;
    background-color: #715142;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top-button::after {
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    font-weight: 900;
    font-size: 2em;
    line-height: 50px;
    color: white;
}

#back-to-top-button:hover {
    cursor: pointer;
    background-color: #5c4235;
}

#back-to-top-button:active {
    background-color: #555;
}

#back-to-top-button.show {
    opacity: 1;
    visibility: visible;
}


/* google material design icons */

.material-icons {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -3px;
}


/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/*background*/

.my-bg-dark {
    background-color: #715142;
}

.my-bg-blue {
    background-color: #1a5784;
}

.my-bg-gray {
    background-color: #DDDCD6;
}

.my-bg-light {
    background-color: #EEEDE8;
}

.my-bg-orange {
    background-color: #CE7902;
}


/*color*/

.my-color-dark {
    color: #715142;
}

.my-color-blue {
    color: #1a5784;
}

.my-color-gray {
    color: #DDDCD6;
}

.my-color-light {
    color: #EEEDE8;
}

.my-color-orange {
    background-color: #CE7902;
}


/*buttons*/

.my-btn-dark {
    background-color: #715142;
    color: #ffffff !important;
}

.my-btn-dark:hover {
    background-color: #5c4235;
    color: #ffffff !important;
}

.my-btn-outline-dark {
    border-color: #715142;
    color: #715142 !important;
}

.my-btn-outline-dark:hover {
    background-color: #715142;
    color: white !important;
}

.my-btn-blue {
    background-color: #1a5784;
    color: #ffffff !important;
}

.my-btn-blue:hover {
    background-color: #144468;
    color: #ffffff !important;
}

.my-btn-outline-blue {
    border-color: #1a5784;
    color: #1a5784 !important;
}

.my-btn-outline-blue:hover {
    background-color: #1a5784;
    color: white !important;
}

.my-btn-orange {
    background-color: #f08d02;
    color: white !important;
}

.my-btn-orange:hover {
    background-color: #ce7902;
    color: white !important;
}

.my-btn-outline-orange {
    border-color: #f08d02;
    color: #f08d02 !important;
}

.my-btn-outline-orange:hover {
    background-color: #f08d02;
    color: white !important;
}

.my-btn-red {
    background-color: #c80c0b;
    color: white !important;
}

.my-btn-red:hover {
    background-color: #a80a09;
    color: white !important;
}

.my-btn-outline-red {
    border-color: #c80c0b;
    color: #c80c0b !important;
}

.my-btn-outline-red:hover {
    background-color: #c80c0b;
    color: white !important;
}

.my-linebreak {
    height: 10px;
    color: #DDDCD6;
}


/*announcement button options */

.announcement-option {
    color: #715142;
}

.announcement-option:hover {
    color: #c80c0b;
}

.comment-option {
    color: #6c757d;
}

.comment-option:hover {
    color: #c80c0b;
}

.comment-option-admin {
    color: #c80c0b;
}

.comment-option-admin:hover {
    color: #a80a09;
}


/*navbar*/

.navbar,
.intro {
    background-color: #DDDCD6;
    color: #715142;
}

a.navbar-brand {
    color: #715142;
}

a.navbar-brand:hover {
    color: #513a2f;
}

.navbar-nav li a {
    color: #715142;
}

.navbar-nav li a:hover {
    color: #513a2f;
}


/* shadow */

.navbar-shadow {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25)!important
}

.intro-shadow {
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .25)!important
}

.table-shadow {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25)!important
}


/* pagination */

.pagination>li>a {
    background-color: white;
    color: #1a5784;
    border-color: #d4dadf;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #1a5784;
    background-color: #e8eaed;
    border-color: #d4dadf;
}

.pagination>.disabled>a,
.pagination>.disabled>span {
    background-color: #dee2e6 !important;
    border-color: #d4dadf !important;
}

.pagination>.active>span {
    color: white;
    background-color: #1a5784 !important;
    border: solid 1px #1a5784 !important;
}


/*gradient*/

.diagonal-gradient-gray {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e4df+0,ceccc3+100 */
    background: #e5e4df;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e5e4df 0%, #ceccc3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e5e4df 0%, #ceccc3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e5e4df 0%, #ceccc3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e5e4df', endColorstr='#ceccc3', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.diagonal-gradient-gray-light {
    background: #ecece9;
    background: -moz-linear-gradient(-45deg, #ecece9 0%, #ceccc3 100%);
    background: -webkit-linear-gradient(-45deg, #ecece9 0%, #ceccc3 100%);
    background: linear-gradient(135deg, #ecece9 0%, #ceccc3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ecece9', endColorstr='#ceccc3', GradientType=1);
}

.diagonal-gradient-red-light {
    background: #fee5e5;
    background: -moz-linear-gradient(-45deg, #fee5e5 0%, #faa5a5 100%);
    background: -webkit-linear-gradient(-45deg, #fee5e5 0%, #faa5a5 100%);
    background: linear-gradient(135deg, #fee5e5 0%, #faa5a5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fee5e5', endColorstr='#faa5a5', GradientType=1);
}

.linear-gradient-gray {
    background: rgb(236, 236, 233);
    background: linear-gradient(90deg, rgba(236, 236, 233, 1) 0%, rgba(221, 220, 214, 1) 24%, rgba(206, 204, 195, 1) 100%);
}


/* border */

.my-border-light {
    border: 1;
    border-color: #c6c4ba;
}

.my-border-gray {
    border: 1;
    border-color: #6c757d;
}


/* border-radius */

.border-radius-right-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-radius-left-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.border-radius-0 {
    border-radius: 0;
}

.announcement-card:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15)!important
}


/* responsive */

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: .25rem;
}

@media (max-width: 768px) {
    .border-sm-0 {
        border: 0 !important;
        border-radius: 0 !important;
    }
}

@media (max-width: 425px) {
    .border-xs-0 {
        border: 0 !important;
        border-radius: 0 !important;
    }
    .btn-xs-block {
        width: 100%;
        display: block;
    }
}