.profile-left-menu {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #DDDCD6;
    border-right: 0;
    min-height: 100%;
}
.profile-right-menu {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #DDDCD6;
    border-left: 0;
    min-height: 100%;
}

a.nav-link {
    background-color: transparent;
    color: #6C757D;
}

a.nav-link.active {
    background-color: transparent !important;
    color: #715142 !important;
}